<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="../jquery.js"></script>

    <script src="../controller/users.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('#submit').click(function(e){
          e.preventDefault();
          addUser($('#inputEmail').val(), $('#inputPassword').val());

        });
      });
    </script>

  
    <title>Hello, world!</title>
  </head>
  <body  >
	<!-- Just an image -->
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-faded " style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mx-auto" href="#">
      <img src="https://previews.123rf.com/images/mushakesa/mushakesa1702/mushakesa170200045/72304669-flat-design-shopping-supermarket-shop-retail-store-cart-vector-icon-.jpg" width="30" height="30" alt="" class="remmob"> Shopoholic
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
      <li class="nav-item mx-3">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown mx-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">category 1</a>
                <a class="dropdown-item" href="#">category 2</a>
                <a class="dropdown-item" href="#">category 3</a>
                <a class="dropdown-item" href="#">category 4</a>
                <a class="dropdown-item" href="#">category 5</a>
                <a class="dropdown-item" href="#">category 6</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">More</a>
        </div>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="#">Sign Up</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="#">Sign In</a>
      </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

	<div class="container" style="width: 60%; margin: auto; text-align: center; margin-left: 20%; margin-top: 10%">
	
  <form style=" padding: 20px; border-radius: 50px; box-shadow: 5px 10px 8px 10px #e3f2fd;">
  	<h1 class="h3 mb-3 font-weight-normal">SIGN UP</h1>
	<h3 class="h3 mb-3 font-weight-normal">Please fill the following form</h3>
  		<div class="form-group row">
  		
      		<div class="col-sm-10">
       			<input type="email" class="form-control" id="inputEmail3" placeholder="First Name">
      		</div>
    	</div>
    	<div class="form-group row">
      	
      		<div class="col-sm-10">
       			<input type="email" class="form-control" id="inputEmail3" placeholder="Last Name">
      		</div>
    	</div>
    	<div class="form-group row">
      	
      		<div class="col-sm-10">
       			<input type="email" class="form-control" id="inputEmail" placeholder="Email">
      		</div>
    	</div>
   		<div class="form-group row">
      	
      		<div class="col-sm-10">
       			<input type="password" class="form-control" id="inputPassword" placeholder="Password">
      		</div>
    	</div>
    	<div class="form-group row">
      	
      		<div class="col-sm-10">
       			<input type="email" class="form-control" id="inputEmail3" placeholder="Confirm Password">
      		</div>
    	</div>
      	
    	<div class="form-group row">
      	
      		<div class="col-sm-10">
       			<input type="email" class="form-control" id="inputEmail3" placeholder="Address">
      		</div>
    	</div>
   		<fieldset class="form-group row">
      
      <div class="col-sm-10">
        <div class="form-check" style="text-align: left;">
          <label class="form-check-label">
            <input class="form-check-input" type="radio">
            I agree to the <a href="#">terms and user</a> condition
          </label>
        </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Create my account</button>
      </div>
    </div>
  </form>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>